div {
  text-align: center;
  vertical-align: middle;

}

.vertical-centre {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  margin: 0;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text-centre {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  margin: 0;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 72px;
}

input.rounded {
	border: 1px solid #ccc;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: 2px 2px 3px #666;
	-webkit-box-shadow: 2px 2px 3px #666;
	box-shadow: 2px 2px 3px #666;
	font-size: 20px;
	padding: 4px 7px;
	outline: 0;
	-webkit-appearance: none;
  height: 40px;
  width: 572px;
}
input.rounded:focus {
	border-color: #00000000;

}

div.static {
  position: static;
  border: 3px solid #73AD21;
}


textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: rgba(126, 239, 104, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6);
  outline: 0 none;
}

.lucky {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2000px;
  margin: 0;
  position: absolute;
  top: 46.4%;
  left: 56%;
  transform: translate(-50%, -50%);
}
